% -*- Erlang -*-
% vim: ts=4 sw=4 et ft=erlang

{require_min_otp_vsn, "R15B01"}.

{erl_opts, [
    nowarn_deprecated_type
]}.

{pre_hooks,[
    {"linux|bsd|darwin|solaris", compile, "escript ./support/crypto_compat.escript"},
    {"win32", compile, "escript.exe support/crypto_compat.escript"}
]}.

{sub_dirs, ["rel"]}.

{deps_dir, "rel/deps"}.

{deps, [
    {poolboy, ".*", {git, "git://github.com/devinus/poolboy.git", {tag, "0.9.1"}}}
]}.
