[
%% SASL config
{sasl, [
    {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "log/sasl"},      % Log directory
    {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
    {error_logger_mf_maxfiles, 5}           % 5 files max
]},
%% MMySql config
{mmysql, [
    {pools, [
        {test, [
            {size, 1},
            {max_overflow, 0}
        ], [
            {host, "localhost"},
            {port, 3306},
            {user, <<"root">>},
            {password, <<"password">>},
            {encoding, <<"utf8">>},
            {database, <<"test">>}
        ]}
    ]}
]}
].

